

    
/* Розтягуємо шапку, меню і підвал на всю ширину екрану */
header, nav, footer {
    width: 100%;
    color: #fff;
    
}



@media (min-width: 768px) {
    .container {
        max-width: 980px;
        margin: 0 auto; /* Вирівнюємо по центру */
        padding: 0 10px; /* Відступи по 10px з обох сторін */
        
    }
   
    .object {
        position: absolute;
      }



    header, nav, footer {
        font-size: 20px;   
        line-height: 22px; 
        font-family: 'PT Sans', sans-serif;
    }
    
    
/* Add other styles for header, menu and footer content */
    header .content {
        padding: 20px; 
    }
    
    .retreat{
        padding-left: 10px;
        position: relative;
        
    }
    
    .img1{
        height: 100px;
        overflow: auto;
        float: left; 
        margin-right: 10px;
    }
    
    

    .abc{
        color:grey;
        font-family: 'PT Sans', sans-serif;
        font-size: 36px;
        line-height: 30px;
        
    }
    


    .slogan{
        color:grey;
        font-family: 'PT Sans', sans-serif;
        font-size: 19px;
        margin-top: -10px;
    }
    
    .phone {
        position: absolute;
        top: -35px;
        right: 10px; /* Відстань від правого краю контейнера */
        font-size: 30px; /* Розмір тексту */
        color:grey; /* Колір тексту */
        line-height: 36px;
        font-family: 'PT Sans', sans-serif;

        text-transform: uppercase; /* Звертання тексту великими літерами */
        
    }
    @font-face {
        font-family: 'PT Sans';
        src: url('new_project/pt-astra-sans.woff2') format('woff2'); /* Шлях до вашого шрифту */
        font-weight: normal;
        font-style: normal;
    }
    
    .feedback-link{
        position: absolute;
        right: 10px; /* Відстань від правого краю контейнера */
        font-size: 19px; /* Розмір тексту */
        font-family: 'PT Sans', sans-serif;
        color:grey;
        text-decoration: underline dotted;
        top: 60px;
    }







/*Main navigation menu*/
    .menu_container{
        margin: 0; /* Вирівнюємо по центру */
        padding: 0; /* Відступи по 10px з обох сторін */
        box-sizing: border-box;
        display: inline-block;
        margin-top: 190px;
        width: 100%;
        height: 60px;

        background-color: rgb(97, 96, 96); /* Колір фону прямокутника */
        z-index: -1; /* Розташовуємо фон позаду контейнера */
        
    }



    .menu{
        font-size: 22px;
        color:grey;
        list-style: none;
        max-width: 980px;
        text-align: center;
       
        margin: auto; /* Автоматично центруємо меню по горизонталі */
        background-color: transparent; /* Прозорий фон контейнера */
        position: relative; /* Визначаємо позицію як відносиний */
        z-index: 1; /* Розташовуємо контент над фоном */
        
       
    }
    .menu li {
        margin-top: 7px;
        display: inline-block;
        margin-right: 20px;
        position: relative; /* Додаємо позиціонування, щоб працювати з псевдоелементом */
      }
      
      .menu li::after {
        content: "";
        width: 2px; /* Ширина вертикальної риски */
        height: 20px; /* Висота вертикальної риски (за бажанням) */
        background-color: #fff; /* Колір вертикальної риски */
        position: absolute;
        top: 50%; /* Позиціюємо вертикальну риску посередині тексту */
        right: -10px; /* Зсув на відстань від тексту */
        transform: translateY(-50%); /* Це вирівнює вертикальну риску посередині */
      }
      
      .menu li:last-child::after {
        display: none; /* Вимикаємо риску для останнього пункту меню */
      }
    .menu a {
        text-decoration: none; /* Приховуємо підкреслення для посилань */
        display: block; /* Робимо посилання блочними елементами, щоб займати весь доступний простір */
        padding: 10px; /* Додаємо відступи між текстом та границею пункту меню */
        color: #ffffff; /* Колір тексту */
        font-family: 'PT Sans', sans-serif;
       
      }


    .burger{
        width: 100%;
    }

    .burger-btn{
        display: none;
    }


    }
















    /*adaptive*/
    @media (max-width: 767px) {
        .container {
            margin: 0 auto; /* align in the center */
            padding: 0 3px; /* Indent 10px on both sides */
              
        }

        header{
            position: relative;
        }

        header,  footer {
            font-size: 20px;   
            line-height: 22px; 
        }
        
        
        header.content {
            padding: 20px; 
        }
        
        .retreat{
            padding-left: 60px;
            position: relative;
        }
        
        .img1{
            height: 50px;
            overflow: auto;
            float: left; 
            margin-right: 5px;
            margin-left: -50px;
        }
        
        .abc{
            color:grey;
            font-family: 'PT Sans', sans-serif;
            font-size: 17px;
            line-height: 15px;
            padding-top: 3px;
        }
            
        .slogan{
            color:grey;
            font-family: 'PT Sans', sans-serif;
            font-size: 11px;
            margin-top: -14px;
        }
        
        .phone {
            position: absolute;
            top: -12px;
            right: 10px; /* Відстань від правого краю контейнера */
            font-size: 13px; /* Розмір тексту */
            color:grey; /* Колір тексту */
            line-height: 16px;
            font-family: 'PT Sans', sans-serif;
        
        }
        
        .feedback-link{
            position: absolute;
            right: 10px; /* Відстань від правого краю контейнера */
            font-size: 10px; /* Розмір тексту */
            font-family: 'PT Sans', sans-serif;
            color:grey;
            text-decoration: underline dotted;
            top: 23px;
        }






        nav{
            display: none;
	        justify-content: flex-end;
        }
      
        .burger-btn{
            display: block;
            width: 22px;
            height: 1px;
            margin-left: auto;
            margin-bottom: 100px;
            
        }

        .burger.open{
            width: 200px;
            height: 350px;
            background: #1b262f;
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px 10px;
            margin-top: 90px;
        }

        .burger.open.fbx{
            justify-content: flex-start;
            flex-direction: column;
        }


        .burger.open nav{
            display: block;
            border-top: 1px solid rgba(251, 252, 254, 0.15);
            width: 100%;
        }

        .burger.open nav ul{
            flex-direction: column;
        }

        .menu a{
            text-decoration: none; /* Приховуємо підкреслення для посилань */
            display: block;
            color: #fff;
            font-family: 'PT Sans', sans-serif;
            font-size: 17px;
            padding-left: 5px;
            line-height: 30px;
        }

        ul {
            list-style-type: none; /* Видаляє крапки для ненумерованих списків (ul) */
        }
        

        }
        
